PORT=

# Path Model GGUF
LLAMA_MODEL_PATH=

GROQ_API_KEY=
GROQ_MODEL=llama-3.1-8b-instant
GROQ_TEMPERATURE=0.7
GROQ_MAX_COMPLETION_TOKENS=1024
GROQ_TOP_P=1
GROQ_STREAM=true
GROQ_STOP=null
PUBLIC_API=

ANINKA_APP_KEY=

JWT_SECRET=